<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sincronizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center ion-padding">
          <h1 class="ion-text-center">Pressione o botão abaixo para iniciar a sincronização dos dados com o servidor.</h1>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="12" push-md="3" size-md="6" push-lg="4" size-lg="4" push-xl="4" size-xl="4">
        <ion-button size="large" expand="block" (click)="iniciar()">
          <ion-icon slot="start" name="play-circle-outline"></ion-icon>
          Iniciar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
