<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultar Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item *ngFor="let produto of listProdutos">
      <ion-label class="ion-text-wrap">
        <h3>Codigo: {{ produto.codigo }}</h3>
        <h3>Descrição: {{ produto.descricao }}</h3>
        <h3>Preço: {{ produto.preco / 100 | currency : 'R$' }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
